@model List<HotelProjectUILayer.Dtos.AppUserDto.ResultAppUserDto>

                        <table class="table table-xs mb-0">
                            <thead>
                                <tr>
                                    
                                    <th>Ad Soyad</th>
                                    <th>Şehir</th>
                                    <th>Çalıştığı Otel</th>
                                    <th>Şehir/ Ülke</th>
                                    <th>Cinsiyet</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model) {
                                <tr>

                                    <td>@item.name @item.surname</td>
                                    <td>
                                        <span>@item.city</span>
                                    </td>
                                    <td>@item.workLocationName</td>
                                    
                                        <td>@item.city / @item.country</td>
                                    
                                    @if (item.gender == "Kadın")
                                    {


                                        <td><i class="fa fa-circle-o text-success mr-2">Kadın</i></td>
                                    }
                                    @if(item.gender == "Erkek")
                                    {
                                        <td><i class="fa fa-circle-o text-warning mr-2">Erkek</i></td>
                                    }

                                    

                                </tr>
                                    }
                            </tbody>
                        </table>

